@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


* {
    font-family: 'PT Serif', serif;
}
body {
    background-image: url(https://media.istockphoto.com/photos/wood-texture-plank-grain-background-wooden-desk-table-or-floor-old-picture-id1002879894?k=20&m=1002879894&s=612x612&w=0&h=HdmfZz7KVVWJPCy7ROyCRL210cXnNdi9mo_j1jM6uW8=);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size:cover;
}
div .collapse {
    justify-content: center;

}

p .card-text {
    font-size: x-large;
    font-weight: bolder;
}

.navbar-brand {
    font-family: 'Courgette', cursive !important;
}
body {
    padding-top: 70px;
}
footer {
    padding-bottom: 70px;
}
#myCarousel {
    position: relative;
}
.carousel-item {
    transition: transform 2s ease, opacity .5s ease-out;
}
img {
    border-radius: 50%;
}
object {
    width: 100%;
}


